

/* Desktops */	
@media screen and (min-width: 505px), 
	screen and (min-device-width: 768px) and (max-device-width: 1024px), 
	screen and (max-device-width: 480px) and (-webkit-min-device-pixel-ratio: 2) {
	/*@layout - app container*/
	.elevator-panel{
		width: 505px;
		height: 1005px;
	}

	.elevator-panel > div {
		width: 500px;
		height: 1000px;

		-moz-border-radius: 60px;
		-webkit-border-radius: 60px;
		-o-border-radius: 60px;
		border-radius: 60px;
	}

	/*@fonts only look good with absolute sizing*/
	.elevator-panel .font-small {	font-size: 18px;	}
	.elevator-panel .font-smallish {	font-size: 22px;	}
	.elevator-panel .font-medium {	font-size: 80px;	}
	.elevator-panel .font-large {	font-size: 140px;	}

	.elevator-panel .button {	margin-bottom: 13px; }
}

/*medium sized mobile devices*/
@media screen and (min-width: 400px) and (max-width: 499px) 
	 {
	/*@layout - app container*/
	.elevator-panel{
		width: 400px;
		height: 800px;
	}

	.elevator-panel > div {
		width: 395px;
		height: 790px;

		-moz-border-radius: 48px;
		-webkit-border-radius: 48px;
		-o-border-radius: 48px;
		border-radius: 48px;
	}

	/*@fonts only look good with absolute sizing*/
	.elevator-panel .font-small {	font-size: 13px;	}
	.elevator-panel .font-smallish {	font-size: 18px;	}
	.elevator-panel .font-medium {	font-size: 64px;	}
	.elevator-panel .font-large {	font-size: 112px;	}

	.elevator-panel .button {
		margin-bottom: 4.2%;
		
	}
}



/*@group small iphone devices*/
@media screen and (max-width: 321px)
{
	.elevator-panel {
		width: 320px;
		height: 640px;
	}

	.elevator-panel > div {
		width: 315px;
		height: 630px;

		-moz-border-radius: 40px;
		-webkit-border-radius: 40px;
		-o-border-radius: 40px;
		border-radius: 40px;
	}

	/*@fonts only look good with absolute sizing*/
	.elevator-panel .font-small{ font-size: 12px; }
	.elevator-panel .font-smallish{ font-size: 14px; }
	.elevator-panel .font-medium { font-size: 51px; }
	.elevator-panel .font-large{ font-size: 90px; }

	.elevator-panel .button {
		margin-bottom: 4.4%;
		
	}
    
}



/*@group extra small phone devices*/
@media screen and (max-width: 300px)
{
	.elevator-panel {
		width: 240px;
		height: 480px;
	}

	.elevator-panel > div {
		width: 235px;
		height: 470px;

		-moz-border-radius: 30px;
		-webkit-border-radius: 30px;
		-o-border-radius: 30px;
		border-radius: 30px;
	}

	/*@fonts only look good with absolute sizing*/
	.elevator-panel .font-small {	font-size: 10px;	}
	.elevator-panel .font-smallish {	font-size: 12px;	}
	.elevator-panel .font-medium {	font-size: 38px;	}
	.elevator-panel .font-large {	font-size: 68px;	}

		.elevator-panel .button {
			margin-bottom: 4.2%;
		
		}
    
}




