/*@group screen readout */

/*animation for text, car going up*/
.elevator-panel .screen .up {
	left: 50%;
	top: 100%;
	color: #35b715;

	-moz-animation: elevator-panel-up 4s steps(30, end) 1s infinite none ;
	-o-animation: elevator-panel-up 4s steps(30, end) 1s infinite none ;
	-webkit-animation: elevator-panel-up 4s steps(30, end) 1s infinite none ;
	animation: elevator-panel-up 4s steps(30, end) 1s infinite none ;
}

/*animation for text, car going down*/
.elevator-panel .screen .down {
	
	top: -30%;
	left: 50%;
	color: red;

	-moz-animation: elevator-panel-down 4s steps(30, end) 1s infinite ;
	-o-animation: elevator-panel-down 4s steps(30, end) 1s infinite ;
	-webkit-animation: elevator-panel-down 4s steps(30, end) 1s infinite ;
	animation: elevator-panel-down 4s steps(30, end) 1s infinite ;
}

/*animation for text, base doors*/
.elevator-panel .screen .doors {
	/*left: -16%;*/ 
	left: 38%;
	-moz-transform: rotate( 90deg );
	-ms-transform: rotate( 90deg );
	-o-transform: rotate( 90deg );
	-webkit-transform: rotate( 90deg );
	transform: rotate( 90deg );
}

/*animation for text, doors animated*/
.elevator-panel .screen .doors-movement {
		
	line-height: 100%;
	-moz-animation: elevator-panel-doors-movement 2s steps(5, start) .5s infinite;
	-o-animation: elevator-panel-doors-movement 2s steps(5, start) .5s infinite;
	-webkit-animation: elevator-panel-doors-movement 2s steps(5, start) .5s infinite; 
	animation: elevator-panel-doors-movement 2s steps(5, start) .5s infinite;
}

/*animation for text, doors not moving*/
.elevator-panel .screen .doors-stationary {
	line-height: 75%;

	-moz-animation: elevator-panel-doors-stationary 3.5s steps(2, end) .1s infinite; 
	-o-animation: elevator-panel-doors-stationary 3.5s steps(2, end) .1s infinite;
	-webkit-animation: elevator-panel-doors-stationary 3.5s steps(2, end) .1s infinite; 
	animation: elevator-panel-doors-stationary 3.5s steps(2, end) .1s infinite;
}

/*@group transitions */

/*animation for screen, opacity fade in*/
.elevator-panel .fadeIn{
	-moz-animation: elevator-panel-intro-fade-in 1s ease-in forwards 1; 
	-o-animation: elevator-panel-intro-fade-in 1s ease-in forwards 1;
	-webkit-animation: elevator-panel-intro-fade-in 1s ease-in forwards 1; 
	animation: elevator-panel-intro-fade-in 1s ease-in forwards 1;
}

/*animation for screen, opacity fade out*/
.elevator-panel .fadeOut{
	-moz-animation: elevator-panel-intro-fade-out 1s ease-out forwards 1; 
	-o-animation: elevator-panel-intro-fade-out 1s ease-out forwards 1;
	-webkit-animation: elevator-panel-intro-fade-out 1s ease-out forwards 1; 
	animation: elevator-panel-intro-fade-out 1s ease-out forwards 1;
}

 /*@group transitions*/

 /*animation keyframes for screen, opacity fade in*/
@-moz-keyframes elevator-panel-intro-fade-in { from  { opacity: 0 } to { opacity: 1 } }
@-o-keyframes elevator-panel-intro-fade-in { from  { opacity: 0 } to { opacity: 1 } }
@-webkit-keyframes elevator-panel-intro-fade-in { from  { opacity: 0 } to { opacity: 1 } }
@keyframes elevator-panel-intro-fade-in { from  { opacity: 0 } to { opacity: 1 } }

 /*animation keyframes for screen, opacity fade out*/
@-moz-keyframes elevator-panel-intro-fade-out { from  { opacity: 1 } to { opacity: 0 ; visibility: hidden} }
@-o-keyframes elevator-panel-intro-fade-out { from  { opacity: 1 } to { opacity: 0 ; visibility: hidden} }
@-webkit-keyframes elevator-panel-intro-fade-out { from  { opacity: 1 } to { opacity: 0 ; visibility: hidden} }
@keyframes elevator-panel-intro-fade-out { from  { opacity: 1 } to { opacity: 0; visibility: hidden } }

/*@group screen readout */

/*animation keyframes for text, car going up*/
@-moz-keyframes elevator-panel-up { 0%   { top:   97% } 100%  { top: -30% } }
@-webkit-keyframes elevator-panel-up { 0%   { top:   97% } 100%  { top: -30% } }
@-o-keyframes elevator-panel-up { 0%   { top:   97% } 100%  { top: -30% } }
@keyframes elevator-panel-up { 0%   { top:   97% } 100%  { top: -30% } }

/*animation keyframes for text, car going down*/
@-moz-keyframes elevator-panel-down { from  { top: -30% } to { top:   100% } }
@-o-keyframes elevator-panel-down { from  { top: -30% } to { top:   100% } }
@-webkit-keyframes elevator-panel-down { from  { top: -30% } to { top:   100% } }
@keyframes elevator-panel-down { from  { top: -30% } to { top:   100% } }

/*animation keyframes for text, doors animated*/
@-webkit-keyframes elevator-panel-doors-movement {
	 0%  {	visibility: visible; } 20%  {	visibility: hidden; } 25%  {	visibility: hidden; }
	30%  {	visibility: visible; } 60%  {	visibility: hidden; } 65%  {	visibility: hidden; }
	70%  {	visibility: visible; } 100%  {	visibility: visible; }
}

@-moz-keyframes elevator-panel-doors-movement {
	 0%  {	visibility: visible; } 20%  {	visibility: hidden; } 25%  {	visibility: hidden; }
	30%  {	visibility: visible; } 60%  {	visibility: hidden; } 65%  {	visibility: hidden; }
	70%  {	visibility: visible; } 100%  {	visibility: visible; }
}

@-o-keyframes elevator-panel-doors-movement {
	 0%  {	visibility: visible; } 20%  {	visibility: hidden; } 25%  {	visibility: hidden; }
	30%  {	visibility: visible; } 60%  {	visibility: hidden; } 65%  {	visibility: hidden; }
	70%  {	visibility: visible; } 100%  {	visibility: visible; }
}

@-ms-keyframes elevator-panel-doors-movement {
	 0%  {	visibility: visible; } 20%  {	visibility: hidden; } 25%  {	visibility: hidden; }
	30%  {	visibility: visible; } 60%  {	visibility: hidden; } 65%  {	visibility: hidden; }
	70%  {	visibility: visible; } 100%  {	visibility: visible; }
}

@keyframes elevator-panel-doors-movement{
	 0%  {	visibility: visible; } 20%  {	visibility: hidden; } 25%  {	visibility: hidden; }
	30%  {	visibility: visible; } 60%  {	visibility: hidden; } 65%  {	visibility: hidden; }
	70%  {	visibility: visible; } 100%  {	visibility: visible; }
}

/*animation keyframes for text, doors stationary*/
@-webkit-keyframes elevator-panel-doors-stationary{
 	 0%  {	visibility: visible; }	100%  {	visibility: visible; }
}

@-moz-keyframes elevator-panel-doors-stationary{
 	 0%  {	visibility: visible; }	100%  {	visibility: visible; }
}

@-o-keyframes elevator-panel-doors-stationary{
 	 0%  {	visibility: visible; }	100%  {	visibility: visible; }
}

@keyframes elevator-panel-doors-stationary{
 	 0%  {	visibility: visible; }	100%  {	visibility: visible; }
}